@function dark-background($number) {
  $opacidade: calc($number / 10);
  $cor-com-opacidade: rgba(0,0,0, $opacidade);

  @return $cor-com-opacidade;
}

.wrapper {
  display: flex;
  border: 1px solid blue;
}

.item {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.item1 {
  background-color: dark-background(1);
}
.item2 {
  background-color: dark-background(2);
}
.item3 {
  background-color: dark-background(3);
}
.item4 {
  background-color: dark-background(4);
}
